.vscode/
*.egg-info/
build/
__pycache__/
**/dask-worker-space/
**/.ipynb_checkpoints/
data/
doc/source/generated/*

# Include this once we have a published release to fetch test data
# tutorials/test_data

*playground*