# This workflow will install Python and sphinx, then it build the html documentation pages with sphinx and deploys it into the gh-pages branch
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build HTML Pages

on:
  pull_request:
    branches: ["main"]

# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
           python-version: "3.11.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_sphinx.txt
      - name: Build HTML
        run: |
          cd doc/
          make html
      - name: Run ghp-import
        run: |
          ghp-import -n -p -f docs/